<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        ul{
            display: flex;
        padding: 1rem;
        justify-content: space-between;
        background-color: rgb(8, 191, 211);
        }
        .b {
            padding: 2rem;
            background-color: rgb(92, 85, 85);
            text-align: center;
        }
        button {
            background-color: slategray;
            width: 4rem;
            border-radius: none;
            
        }
        .emailErr,.passwordErr {
            color: rgb(220, 20, 20);
        }
   
    </style>
</head>